Repository rileythai/jdaviz-fork-of-fork, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, testing, embed, cubeviz, imviz, mosviz, specviz, specviz2d

tooltip improvements
  jdaviz/components/viewer_data_select_item.vue
Labels: none

adding concept notebook
  notebooks/concepts/imviz-wcs-rotation.ipynb
Labels: documentation

Exclude subsets from WCS-only layer orientation menu
  jdaviz/core/template_mixin.py
Labels: none

Initial work on method logging
  jdaviz/app.py
  jdaviz/core/jdaviz_logger.py
Labels: none

WIP: support for renaming subsets
  jdaviz/core/template_mixin.py
Labels: none

improve handling of imviz's static regions
  jdaviz/core/template_mixin.py
Labels: none

update implementation from allowed_type to valid_item
  jdaviz/core/template_mixin.py
Labels: none

Remove hard coded 'Subset' string checks
  jdaviz/app.py
  jdaviz/core/helpers.py
  jdaviz/core/template_mixin.py
Labels: none

Debugging
  jdaviz/core/template_mixin.py
Labels: none

Fix reset_items for selectors that care about spatial vs spectral
  jdaviz/core/template_mixin.py
Labels: none

Working on creating database from existing lines
  jdaviz/configs/default/plugins/line_lists/build_database.py
Labels: none

Splitting out colormap select menu
  jdaviz/app.py
  jdaviz/components/colormap_select.vue
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
Labels: none

More work
  jdaviz/components/colormap_select.vue
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
Labels: none

Not working yet
  jdaviz/components/colormap_select.vue
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
Labels: none

Everything renders now at least...
  jdaviz/components/colormap_select.vue
  jdaviz/configs/default/plugins/plot_options/plot_options.vue
Labels: none

Remove jwst s3d parser now that it can be handled by Spectrum1D
  jdaviz/configs/cubeviz/plugins/parsers.py
  jdaviz/configs/cubeviz/plugins/viewers.py
Labels: cubeviz

Starting to debug slice
  jdaviz/configs/cubeviz/plugins/slice/slice.py
Labels: cubeviz

More debugging
  jdaviz/configs/cubeviz/plugins/slice/slice.py
Labels: cubeviz

Fix coords mouseover when SkyCoord is before SpectralCoord
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
Labels: imviz

Fix slice with different spectral_axis_index, add specutils_format kwarg to cubeviz parser
  jdaviz/configs/cubeviz/plugins/parsers.py
  jdaviz/configs/cubeviz/plugins/slice/slice.py
  jdaviz/configs/cubeviz/plugins/viewers.py
Labels: cubeviz

Remove unused import
  jdaviz/configs/cubeviz/plugins/parsers.py
Labels: cubeviz

Remove ESA parser from commissioning [skip ci]
  jdaviz/configs/cubeviz/plugins/parsers.py
Labels: cubeviz

Generalizing coords_info to handle spectral axis first or last [ci skip]
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
Labels: imviz

Working on debugging aperture photometry
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
Labels: imviz

Fix aperture photometry and wrong coord order in coords_info
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
Labels: imviz

Need to pull meta from data not comp
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
Labels: imviz

Fix codestyle, delete defunct case in parser
  jdaviz/configs/cubeviz/plugins/parsers.py
  jdaviz/configs/imviz/plugins/aper_phot_simple/aper_phot_simple.py
  jdaviz/configs/imviz/plugins/coords_info/coords_info.py
Labels: cubeviz, imviz

Change class name in recent code additions
  jdaviz/configs/default/plugins/export/export.py
  jdaviz/configs/default/plugins/export/tests/test_export.py
Labels: none

Get spectral extraction working again for cylinder case
  jdaviz/configs/cubeviz/plugins/parsers.py
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
Labels: cubeviz

Debugging wavelength dependent case
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
Labels: cubeviz

Make sure spectral extraction result is linked when added to data collection
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
Labels: cubeviz

Moved fix to correct place
  jdaviz/app.py
Labels: none

Fix indents
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
  jdaviz/configs/default/plugins/export/tests/test_export.py
  jdaviz/configs/default/plugins/line_lists/tests/test_line_lists.py
  jdaviz/configs/default/plugins/model_fitting/fitting_backend.py
  jdaviz/configs/default/plugins/model_fitting/tests/test_fitting.py
  jdaviz/configs/default/plugins/model_fitting/tests/test_plugin.py
  jdaviz/configs/specviz/helper.py
  jdaviz/configs/specviz/plugins/line_analysis/tests/test_line_analysis.py
  jdaviz/configs/specviz/plugins/parsers.py
  jdaviz/conftest.py
Labels: testing, cubeviz, specviz

Remove stray code from rebase
  jdaviz/app.py
Labels: none

Clean up missed merged conflict
  jdaviz/configs/cubeviz/helper.py
Labels: cubeviz

Update missed Spectrum1D
  jdaviz/configs/specviz/helper.py
Labels: specviz

Debugging cubeviz parser
  jdaviz/configs/cubeviz/plugins/parsers.py
Labels: cubeviz

First start on fixing testt
  jdaviz/configs/default/plugins/model_fitting/tests/test_plugin.py
  pyproject.toml
Labels: none

Fix bad rebase in spectral extraction
  jdaviz/configs/cubeviz/plugins/spectral_extraction/spectral_extraction.py
Labels: cubeviz

Starting to work through test failures
  jdaviz/configs/cubeviz/plugins/parsers.py
  jdaviz/configs/cubeviz/plugins/slice/tests/test_slice.py
  jdaviz/configs/cubeviz/plugins/viewers.py
  jdaviz/configs/default/plugins/model_fitting/model_fitting.py
  jdaviz/configs/specviz/plugins/unit_conversion/tests/test_unit_conversion.py
Labels: cubeviz, specviz

.github/labeler.yml:

documentation:
  - docs/**/*
  - licenses/*
  - notebooks/**/*
  - .readthedocs.yaml
  - README.rst

testing:
  - .github/workflows/*
  - jdaviz/conftest.py
  - jdaviz/tests/*
  - .bandit.yaml
  - tox.ini

embed:
  - jdaviz/*.vue
  - share/**/*

cubeviz:
  - jdaviz/configs/cubeviz/**/*

imviz:
  - jdaviz/configs/imviz/**/*

mosviz:
  - jdaviz/configs/mosviz/**/*

specviz:
  - jdaviz/configs/specviz/**/*

specviz2d:
  - jdaviz/configs/specviz2d/**/*
