Repository rileythai/jdaviz-fork-of-fork, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, testing, embed, cubeviz, imviz, mosviz, specviz, specviz2d

Initial implementation of fix for subsets disappearing on data deletion
  jdaviz/app.py
Labels: none

fix: maintain symlinks by zipping, upload-artifact does not support it
  .github/workflows/standalone.yml
Labels: testing

use hooks
  standalone/hooks/hook-glue.py
  standalone/hooks/hook-glue_jupyter.py
  standalone/hooks/hook-jdaviz.py
  standalone/jdaviz.spec
Labels: none

code sign on gha
  standalone/jdaviz.spec
Labels: none

run notary tool on gha
  .github/workflows/standalone.yml
Labels: testing

also download the app
  .github/workflows/standalone.yml
Labels: testing

codesign osx
  .github/workflows/standalone.yml
  standalone/jdaviz.spec
Labels: testing

GHA logic?
  .github/workflows/standalone.yml
Labels: testing

debug: try without codesign
  standalone/jdaviz.spec
Labels: none

pin to 5.11
  .github/workflows/standalone.yml
Labels: testing

feat: pyinstaller
  .github/workflows/standalone.yml
  CHANGES.rst
  jdaviz/_astropy_init.py
  jdaviz/cli.py
  jdaviz/configs/cubeviz/cubeviz.ipynb
  jdaviz/configs/default/default.ipynb
  jdaviz/configs/imviz/imviz.ipynb
  jdaviz/configs/mosviz/mosviz.ipynb
  jdaviz/configs/specviz/specviz.ipynb
  jdaviz/core/tools.py
  setup.cfg
  standalone/jdaviz-cli-entrypoint.py
  standalone/jdaviz.spec
  standalone/test.py
Labels: testing, cubeviz, imviz, mosviz, specviz

does not need arguments
  standalone/jdaviz-cli-entrypoint.py
Labels: none

use branch of pyinstaller
  .github/workflows/standalone.yml
Labels: testing

better hooks
  .github/workflows/standalone.yml
  standalone/hooks/hook-debugpy.py
  standalone/hooks/hook-skimage.py
  standalone/jdaviz.spec
Labels: testing

fix: redo codesign after modifications
  .github/workflows/standalone.yml
  standalone/entitlements.plist
Labels: testing

upload different artifact for osx
  .github/workflows/standalone.yml
Labels: testing

fix: use ditto instead of zip
  .github/workflows/standalone.yml
Labels: testing

gpt assisted way of running the log tool on failure
  .github/workflows/standalone.yml
Labels: testing

fix path of entitlements file
  .github/workflows/standalone.yml
Labels: testing

make sure the program executes
  .github/workflows/standalone.yml
Labels: testing

comments for the future
  .github/workflows/standalone.yml
Labels: testing

fix: mistune 3.0 needs this
  standalone/hooks/hook-mistune.py
Labels: none

fix uuid parsing and re-zip the app after notary step
  .github/workflows/standalone.yml
Labels: testing

add comment for hint with the osx fix
  .github/workflows/standalone.yml
Labels: testing

cleanup spec file and hooks, no more __pycache__ files should be included
  standalone/hooks/hook-bqplot.py
  standalone/hooks/hook-glue.py
  standalone/hooks/hook-glue_jupyter.py
  standalone/hooks/hook-ipypopout.py
  standalone/hooks/hook-jdaviz.py
  standalone/hooks/hook-jupyter_client.py
  standalone/hooks/hook-photutils.py
  standalone/hooks/hook-regions.py
  standalone/jdaviz.spec
Labels: none

fix path
  .github/workflows/standalone.yml
Labels: testing

comments for the future
  .github/workflows/standalone.yml
Labels: testing

fix syntax error
  .github/workflows/standalone.yml
Labels: testing

remove invalid symlink
  .github/workflows/standalone.yml
Labels: testing

fix: reorder zipping and notary step
  .github/workflows/standalone.yml
Labels: testing

ci: do not cancel on failure
  .github/workflows/standalone.yml
Labels: testing

fix uuid for notary step
  .github/workflows/standalone.yml
Labels: testing

make dmg instead of zip for osx
  .github/workflows/standalone.yml
  standalone/jdaviz.spec
Labels: testing

Update branch name
  .github/workflows/standalone.yml
Labels: testing

Separate team_id for notarization
  .github/workflows/standalone.yml
Labels: testing

Test notebook to run with solara
  notebooks/testing/test_Imviz_solara.ipynb
Labels: documentation

Trying to cram the launcher into a Solara context
  jdaviz/cli_solara.py
  jdaviz/core/launcher.py
  jdaviz/solara_jdaviz_launcher.py
Labels: none

Solara launcher works now
  jdaviz/cli_solara.py
  jdaviz/solara_jdaviz_launcher.py
Labels: none

making refdata selection specific to each viewer
  jdaviz/app.py
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/plugins/links_control/links_control.py
  jdaviz/configs/imviz/plugins/links_control/links_control.vue
  jdaviz/core/template_mixin.py
Labels: imviz

add data menu orientation options, handle linking changes
  jdaviz/app.py
  jdaviz/components/layer_viewer_icon.vue
  jdaviz/components/viewer_data_select.vue
  jdaviz/components/viewer_data_select_item.vue
  jdaviz/configs/imviz/helper.py
  jdaviz/container.vue
Labels: embed, imviz

.github/labeler.yml:

documentation:
  - docs/**/*
  - licenses/*
  - notebooks/**/*
  - .readthedocs.yaml
  - README.rst

testing:
  - .github/workflows/*
  - jdaviz/conftest.py
  - jdaviz/tests/*
  - .bandit.yaml
  - tox.ini

embed:
  - jdaviz/*.vue
  - share/**/*

cubeviz:
  - jdaviz/configs/cubeviz/**/*

imviz:
  - jdaviz/configs/imviz/**/*

mosviz:
  - jdaviz/configs/mosviz/**/*

specviz:
  - jdaviz/configs/specviz/**/*

specviz2d:
  - jdaviz/configs/specviz2d/**/*
