Repository rileythai/jdaviz-fork-of-fork, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, testing, embed, cubeviz, imviz, mosviz, specviz, specviz2d

wcs linking requires wcs-only base layer
  jdaviz/app.py
  jdaviz/components/viewer_data_select_item.vue
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/configs/imviz/wcs_utils.py
Labels: imviz

adapting assumptions in tests for wcs-only layer implementation
  jdaviz/app.py
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/plugins/links_control/links_control.py
  jdaviz/configs/imviz/plugins/links_control/links_control.vue
  jdaviz/configs/imviz/tests/test_astrowidgets_api.py
  jdaviz/configs/imviz/tests/test_linking.py
  jdaviz/configs/imviz/tests/test_simple_aper_phot.py
  jdaviz/configs/imviz/tests/test_subset_centroid.py
  jdaviz/configs/imviz/tests/test_wcs_utils.py
  jdaviz/configs/imviz/tests/utils.py
  jdaviz/configs/imviz/wcs_utils.py
  jdaviz/core/template_mixin.py
  jdaviz/tests/test_subsets.py
Labels: testing, imviz

more general change refdata method
  jdaviz/app.py
  jdaviz/configs/imviz/wcs_utils.py
Labels: imviz

improve match between refdata sky area and wcs-only layer
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/configs/imviz/wcs_utils.py
Labels: imviz

fixes for tests in image rotation
  jdaviz/configs/imviz/tests/test_astrowidgets_api.py
  jdaviz/configs/imviz/tests/test_linking.py
  jdaviz/configs/imviz/tests/test_simple_aper_phot.py
  jdaviz/configs/imviz/tests/test_subset_centroid.py
  jdaviz/tests/test_subsets.py
Labels: testing, imviz

Adding API for WCS-only layers for glue-based image rotation
  jdaviz/app.py
  jdaviz/components/viewer_data_select.vue
  jdaviz/components/viewer_data_select_item.vue
  jdaviz/configs/default/plugins/plot_options/plot_options.py
  jdaviz/configs/default/plugins/viewers.py
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/plugins/parsers.py
  jdaviz/configs/imviz/wcs_utils.py
  jdaviz/core/events.py
  jdaviz/core/freezable_state.py
Labels: imviz

specify rotation_angle traitlet as FloatHandleEmpty
  jdaviz/configs/imviz/plugins/links_control/links_control.py
  jdaviz/configs/imviz/plugins/links_control/links_control.vue
Labels: imviz

debugging commit for Kyle
  jdaviz/configs/imviz/plugins/links_control/links_control.py
  jdaviz/configs/imviz/plugins/links_control/links_control.vue
Labels: imviz

adapting improvements to work in other helpers
  jdaviz/app.py
  jdaviz/configs/default/plugins/metadata_viewer/tests/test_metadata_viewer.py
  jdaviz/configs/default/plugins/viewers.py
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/plugins/parsers.py
Labels: imviz

bugfix when creating but not setting nu-el or nu-er orientations
  jdaviz/configs/imviz/plugins/links_control/links_control.py
  notebooks/concepts/imviz-wcs-rotation.ipynb
Labels: documentation, imviz

only add refdata tooltip for imviz, remove refdata references in tooltip
  jdaviz/components/viewer_data_select_item.vue
Labels: none

UI revisions
  CHANGES.rst
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/plugins/links_control/links_control.py
  jdaviz/configs/imviz/plugins/links_control/links_control.vue
  jdaviz/configs/imviz/tests/test_astrowidgets_api.py
  jdaviz/configs/imviz/tests/utils.py
  jdaviz/configs/imviz/wcs_utils.py
Labels: imviz

only show pointer cursor in imviz
  jdaviz/components/viewer_data_select_item.vue
Labels: none

plugin warning when subsets exist on refdata change, error raised via api
  jdaviz/configs/imviz/plugins/links_control/links_control.py
  jdaviz/configs/imviz/plugins/links_control/links_control.vue
  jdaviz/configs/imviz/tests/test_subset_centroid.py
Labels: imviz

working towards default wcs base layer
  jdaviz/app.py
  jdaviz/components/plugin_dataset_select.vue
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/configs/imviz/wcs_utils.py
Labels: imviz

refdata choice unavailable bugfix, better wcs fallbacks
  jdaviz/app.py
  jdaviz/configs/imviz/wcs_utils.py
Labels: imviz

hide wcs-only layers from plugin dataset selectors
  jdaviz/core/template_mixin.py
Labels: none

implementing review comments from Kyle
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/plugins/links_control/links_control.py
  jdaviz/configs/imviz/plugins/links_control/links_control.vue
Labels: imviz

click data menu items to set as refdata
  jdaviz/app.py
  jdaviz/components/viewer_data_select_item.vue
Labels: none

click data menu items to set as refdata
  jdaviz/app.py
  jdaviz/app.vue
  jdaviz/components/viewer_data_select.vue
  jdaviz/components/viewer_data_select_item.vue
  jdaviz/configs/imviz/helper.py
  jdaviz/container.vue
Labels: embed, imviz

Remove imviz_rotation_by_hidden_layer.ipynb
  notebooks/concepts/imviz_rotation_by_hidden_layer.ipynb
Labels: documentation

Remove unused method and callback hook. Do not assume everything always has a valid WCS.
  jdaviz/app.py
Labels: none

DatasetSelect compatibility fix for wcs-only layers
  jdaviz/core/template_mixin.py
Labels: none

using badge to note refdata in dropdown
  jdaviz/app.py
  jdaviz/components/layer_viewer_icon.vue
  jdaviz/components/viewer_data_select_item.vue
  jdaviz/configs/imviz/tests/test_wcs_utils.py
Labels: imviz

Update notebooks/concepts/imviz-wcs-rotation.ipynb
  notebooks/concepts/imviz-wcs-rotation.ipynb
Labels: documentation

bugfixes: compass compat, change refdata to data layer on pixel linking
  jdaviz/app.py
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/plugins/links_control/links_control.py
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/core/template_mixin.py
  jdaviz/tests/test_subsets.py
Labels: testing, imviz

reorganizing features in vue for links plugin
  jdaviz/configs/imviz/plugins/links_control/links_control.vue
Labels: imviz

Update notebooks/concepts/imviz-wcs-rotation.ipynb
  notebooks/concepts/imviz-wcs-rotation.ipynb
Labels: documentation

changelog update
  CHANGES.rst
Labels: none

style fixes
  jdaviz/app.py
  jdaviz/core/events.py
  jdaviz/core/freezable_state.py
Labels: none

adding default to pixel scale ratio [ci skip]
  jdaviz/configs/imviz/wcs_utils.py
Labels: imviz

some test coverage for wcs-based rotation via glue
  jdaviz/app.py
  jdaviz/configs/imviz/plugins/parsers.py
  jdaviz/configs/imviz/tests/test_wcs_utils.py
  jdaviz/configs/imviz/wcs_utils.py
Labels: imviz

Proposed changes for PR 2179 (ENH: Image rotation via WCS-only layers) (#4)
  jdaviz/app.py
  jdaviz/configs/default/plugins/metadata_viewer/tests/test_metadata_viewer.py
  jdaviz/configs/default/plugins/viewers.py
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/plugins/parsers.py
  jdaviz/configs/imviz/plugins/viewers.py
  jdaviz/configs/imviz/tests/test_wcs_utils.py
  jdaviz/configs/imviz/wcs_utils.py
  jdaviz/core/events.py
  jdaviz/core/freezable_state.py
  notebooks/concepts/imviz_rotation_by_hidden_layer.ipynb
Labels: documentation, imviz

only match zoom level in viewers with common refdata
  jdaviz/configs/imviz/plugins/tools.py
Labels: imviz

ensuring wcs-only layers are centered near original dataset
  jdaviz/app.py
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/tests/test_astrowidgets_api.py
  jdaviz/configs/imviz/tests/test_linking.py
  jdaviz/configs/imviz/tests/test_simple_aper_phot.py
  jdaviz/configs/imviz/wcs_utils.py
Labels: imviz

fixing pixel scale calculation for gwcs w/ Roman
  jdaviz/configs/imviz/wcs_utils.py
Labels: imviz

support batch loading wcs-only layers
  jdaviz/app.py
  jdaviz/components/viewer_data_select_item.vue
  jdaviz/configs/imviz/helper.py
  jdaviz/configs/imviz/plugins/links_control/links_control.py
Labels: imviz

fix for subset support
  jdaviz/core/template_mixin.py
Labels: none

incorporate review comments from Kyle
  jdaviz/configs/imviz/plugins/links_control/links_control.py
Labels: imviz

Update jdaviz/configs/imviz/plugins/links_control/links_control.vue
  jdaviz/configs/imviz/plugins/links_control/links_control.vue
Labels: imviz

.github/labeler.yml:

documentation:
  - docs/**/*
  - licenses/*
  - notebooks/**/*
  - .readthedocs.yaml
  - README.rst

testing:
  - .github/workflows/*
  - jdaviz/conftest.py
  - jdaviz/tests/*
  - .bandit.yaml
  - tox.ini

embed:
  - jdaviz/*.vue
  - share/**/*

cubeviz:
  - jdaviz/configs/cubeviz/**/*

imviz:
  - jdaviz/configs/imviz/**/*

mosviz:
  - jdaviz/configs/mosviz/**/*

specviz:
  - jdaviz/configs/specviz/**/*

specviz2d:
  - jdaviz/configs/specviz2d/**/*
